html, body {
    margin: 0;
    padding: 0;
}
.container {
  display: flex;
  height: 100vh;
  background-color: #333333;
  
}
.icon-container{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 2%;
  z-index: 2;
}
.icon-main-page{
color: #ffffff;
font-size: 20px;
text-decoration: none;
margin-top: 20px;
}
.buttonpers {
   width: 250px;
  background-color: #222222;
  padding: 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.buttonpers Button {
  padding: 10px;
  border-radius: 38, 5px;
  cursor: pointer;
  text-align: left;
  color: #000;
  transition: background 0.3s, color 0.3s;
}
.button-us:hover {
 background-color: #ccc;
}
.button-person:hover {
 background-color: #ccc;
}
.button-shop:hover {
 background-color: #ccc;
}
.exit{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:8px;
    top: 94%;
    margin-left: 20px;
    background-color: #222222;
    color: #616161;
    font-size: 20px;
}
.icon-exit{
      font-size: 20px;
    margin-top: 7px;
}
.persacc {
  flex-grow: 1;
  background-color: #2e2d2d;
  padding: 20px;
  color: #000;
  text-align: left;
  padding-left: 300px;
  max-height: 100%;
}

.button-us {
  height: 48px;
  width: 228px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  border-radius: 35.5px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-left: 20px;
}
.button-person {
  height: 48px;
  width: 228px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  border-radius: 35.5px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-left: 20px;
}
.button-acc {
  height: 48px;
  width: 228px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  border-radius: 35.5px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-left: 20px;
}
.button-acc-close{
  height: 48px;
  width: 228px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  border-radius: 35.5px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: gray;
  margin-left: 20px;
}
.button-shop {
  height: 48px;
  width: 228px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  border-radius: 35.5px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-left: 20px;
}

.checkout-menu {
  position: fixed;
  top:53%;
    background: white;
    color: #000;
    border: 3px solid #000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px;
    height: 100%;
    width: 220px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.offer {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}

.list-goods, .total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.price, .total-price {
  font-weight: bold;
}

.total {
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.buy {
  display: flex;
  justify-content: center;
  text-align: center;
 position: fixed;
  left: 45px;
  top:94%;
  width: 200px;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 50px;
}
@media (min-width: 1390px)and (max-width:1769px){
 
}