.header-scroll{
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 5px;
  top: 0; left: 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  position: fixed;
width: 1900px;
  z-index: 20;
} 
.content-header{
    color: #000;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    gap:40px;
    padding-top: 5px;
    align-items: center;
    margin-right: 5vh
}
.icon-menu{
  color: #000;
}
.icon-own{
  color: #000;
}
.title-scroll{
  color: #000;
  display: flex;
  align-items: center;
  gap: 6px;

}
 @media (min-width:1390px) and (max-width:1769px){
  .header-scroll{
    position: fixed;
    max-width:100%;
  }
 }
