
.control-panel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  margin-left: 350px;
  max-width: 2000px;
}
.setting{
  font-size: 25px;
  display: flex;
  margin-top: 7px;
  align-items: center;
  color: #fff;
  position: relative;
  justify-content: center;
}
.title{
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap:5px;
  right: 250%;
  color: #ffffff;
}
.link-icon{
  text-decoration: none;
}
.btn-search{
  color: #fff;
  border-radius: 24px;
  background: none;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  position: relative;
  right: 8%;
  height: 42px;
  width: 100px;
  font-size: 15px;
}
.research {
width: 900px;
  height: 32px;
  border-radius: 19px;
  font-size: 20px;
  margin-right: 55px;
  outline: none;
  padding: 0 20px;
  padding-left: 40px;
  background-color: #ffffff;
  color: #000;
}
.input-container {
  position: relative;
  right:8%
}
.search-icon {
  position: absolute;
  left: 5px;
  top: 8px;
  pointer-events: none;
  width: 40px;
  font-size: 20px;
  color: black;
}
.button-trash {
  height: 48px;
  width: 139px;
  margin-top: 10px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  border: 2px solid #fff;
  background: transparent;
  color: #ffffff;
  transition: all 0.3s ease;
  padding: 0 0 0 20px;
}
.link-trash {
  text-decoration: none;
  color: inherit;
}
.bascket-shop {
  position: relative;
  left: 45px;
  top: 6px;
  font-size: 19px;
  justify-content: center;
  align-items: center;
}

.button-entry {
  height: 48px;
  width: 139px;
  margin-top: 10px;
  display: flex;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  margin-left: 20px;
  color: #000;
}
.link-entry {
  text-decoration: none;
  color: inherit;
}
@media (min-width: 1290px)and (max-width:1769px){
  .control-panel{
    position: relative;
    right: 7%;
  }
  .btn-search{
   position: relative;
   right: 3%;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 80px;
  }
  .title{
    max-width: 600px;
    position: relative;
    right: 120px;
  }
  .button-trash {
  height: 48px;
  width: 121px;
  margin-top: 10px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  border: 2px solid #fff;
  background: transparent;
  color: #ffffff;
  transition: all 0.3s ease;
  padding: 0 0 0 20px;
}
  
  .button-entry{
     height: 48px;
  width: 121px;
  margin-top: 10px;
  display: flex;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  margin-left: 20px;
  color: #000;
  }

  .research{
    max-width: 600px;
    position: relative;
    left: 12%;
  }
  .search-icon{
    position: absolute;
    left:13%;
    z-index: 1;
  }
}
  @media (min-width: 1770px) {
    .control-panel{
      position: relative;
      right: 2%;
    }
        .title{
         max-width: 800px;
        }
        .research{
          max-width:800px;
        }
    }
